body{
    background: #2d2f48;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

#containsEverything{
    background: #EEE;
    
    box-shadow: 0 0 30px rgba(10,10,10,1);
    
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    
    padding: 1em;
    width:80%;
    height:80%;
    
    border-radius: 10px;
    
    overflow: hidden;
}

#mapBackground{
    background: #9ab7d3;
    
    box-shadow: 0 0 10px rgba(10,10,10,0.5);
    
    text-align: center;
    
    margin-top: 1em;
    margin-bottom: 2em;
    
    padding: 0.5em;
    
    margin:auto;
    width:99%;
    height: 620px;
}

#map{
    margin:auto;
    
    width:100%;
    height: 620px;
}

#title{
    
    background: #9ab7d3;
    padding: 0.5em;
    
    box-shadow: 0 0 10px rgba(10,10,10,0.5);
    
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    width:80%;
    
    border-radius: 10px;
}

#title h1{
    color:#FF3C51;
    font-family: Alfa Slab One;
    font-size: 6vw;
}




